streamlit
pandas
spacy

# Spacy Model - Direct Link for Deployment
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

# Document & Data Extraction
pytesseract
Pillow
openai
pdfplumber
PyPDF2
pdfminer.six
python-docx

# Utilities
python-dateutil
