# Main Framework
streamlit

# Data Handling & NLP
pandas
spacy

# Spacy Model (IMPORTANT: Add the specific model you use)
en_core_web_sm

# Document & Data Extraction
pytesseract
Pillow
openai
pdfplumber
PyPDF2
pdfminer.six
python-docx

# Utilities
python-dateutil
python-dotenv
